---
layout: single
permalink: "/cv"
author_profile: true
title: "Curriculum Vitae"
toc: true
toc_label: "Contents"
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: "/assets/images/cv/cv-splash.jpg"
  caption: "credits: [CREATIVE SPACES](http://www.creativespaces.net.au/find-a-space/guild-cowork-8)"
---
{% assign cv = site.data.cv %}

<small>You can download the latest version of my CV in pdf format <a href="/assets/pdf/cv.pdf">here</a>.</small>

<h2 id="experience">Experience</h2>

{% for item in cv.experience %}
	<div class="wrapper">
		<div class="display-inline-block">
			<img class="align-left" src="{{ item.icon}}" width="72px">
			<div class="align-left">
				<span class="color-darker-gray">{{ item.title }}</span>
				<br>
				<span class="color-light-gray">
					{{ item.company }}
					<br>
					{{ item.location }}
					<br>
					{{ item.date.begin }} - {{ item.date.end }}
				</span>
			</div>
		</div>
		<p class="clear color-gray">{{ item.description }}</p>
	</div>
	<hr>
{% endfor %}

<h2 id="publications">Publications</h2>

{% for item in cv.publications %}
	<div class="wrapper">
		<span class="color-darker-gray">{{ item.title }}</span>
		<br>
		<span class="color-gray">
			{%- for author in item.authors -%}
				{% unless forloop.first %}
					{{- ', ' -}}
				{% endunless %}
				{% assign names = author | split:' ' %}
				{% if author contains site.author.name  %}<span style="font-weight: bold;">{% endif %}
				{{- names.first | truncate: 1, "" -}}{{'. '}}{{- names.last -}}
				{% if author contains site.author.name %}</span>{% endif %}
			{% endfor %}
			{% if item.acknowledgements %}
				<br>
				{{ item.acknowledgements }}
			{% endif %}
		</span>
		<span class="color-light-gray">
			<br>
			{{ item.publisher }}
			<br>
			{{ item.date }} - <a href="{{ item.url }}">url</a>
		</span>
		<p class="clear color-gray"></p>
	</div>
	<hr>
{% endfor %}

<h2 id="education">Education</h2>

{% for item in cv.education %}
	<div class="wrapper">
		<div class="display-inline-block">
			<img class="align-left" src="{{ item.icon}}">
			<div class="align-left">
				<span class="color-darker-gray">{{ item.title }}</span>
				<br>
				<span class="color-light-gray">
					{{ item.institution }}
					<br>
					{{ item.location }}
					<br>
					{{ item.date.begin }} - {{ item.date.end }}
				</span>
			</div>
		</div>
		<p class="clear color-gray"></p>
	</div>
{% endfor %}

<h2 id="awards">Awards</h2>

{% for item in cv.awards %}
	<div class="wrapper">
		<span class="color-darker-gray">{{ item.title }}</span>
		<br>
		<span class="color-light-gray">
			{{ item.entity }}
			<br>
			{{ item.date }}
		</span>
		<p class="clear color-gray"></p>
	</div>
	<hr>
{% endfor %}

<h2 id="awards">Organized Workshops</h2>

{% for item in cv.workshops %}
	<div class="wrapper">
		<span class="color-darker-gray">{{ item.title }}</span>
		<br>
		<a href="{{ item.url }}">{{ item.url }}</a>
		<br>
		<p class="clear color-gray">{{ item.description }}</p>
	</div>
	<hr>
{% endfor %}
