/*
   Text Color
   ========================================================================== */

.color-gray {
  color: $gray;
}

.color-dark-gray {
  color: $dark-gray;
}

.color-darker-gray {
  color: $darker-gray;
}

.color-light-gray {
  color: $light-gray;
}

.color-lighter-gray {
  color: $lighter-gray;
}

/*
   Display
   ========================================================================== */

.display-inline-block {
  display: inline-block;
}
